# Proyecto 6: proyecto integrado

## Preambulo; se cargan librerias y se declara la funcion de exploracion

In [15]:
#cargamos las librerias a ser utilizadas durante el proyecto y Creamos una funcion para poder hacer mas facil la exploracion 

import numpy as np
import pandas as pd
from scipy import stats as st
from matplotlib import pyplot as plt
import seaborn as sns
sns.set_theme()

def looks(datos):
    print("Se ejecuta la descripcion de los datos:")
    print(datos.describe(include= "all"))
    print()
    print("se hace exploracion con metodo info:")
    datos.info()
    print()
    print("se hace una observacion con el metodo Head:")
    print(datos.head())
    print()
    print("hay NA?:")
    print(datos.isna().sum())
    print()
    print("Duplicados:")
    print(datos.duplicated().sum())

In [8]:
# Cargamos los datos
games = pd.read_csv("datasets/games.csv")
# games # se verifica la lectura es correcta

In [16]:
looks(games)

Se ejecuta la descripcion de los datos:
                               Name Platform  Year_of_Release   Genre  \
count                         16713    16715     16446.000000   16713
unique                        11559       31              NaN      12
top     Need for Speed: Most Wanted      PS2              NaN  Action
freq                             12     2161              NaN    3369
mean                            NaN      NaN      2006.484616     NaN
std                             NaN      NaN         5.877050     NaN
min                             NaN      NaN      1980.000000     NaN
25%                             NaN      NaN      2003.000000     NaN
50%                             NaN      NaN      2007.000000     NaN
75%                             NaN      NaN      2010.000000     NaN
max                             NaN      NaN      2016.000000     NaN

            NA_sales      EU_sales      JP_sales   Other_sales  Critic_Score  \
count   16715.000000  16715.000000  16715.000000  16715.000000   8137.000000
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean        0.263377      0.145060      0.077617      0.047342     68.967679
std         0.813604      0.503339      0.308853      0.186731     13.938165
min         0.000000      0.000000      0.000000      0.000000     13.000000
25%         0.000000      0.000000      0.000000      0.000000     60.000000
50%         0.080000      0.020000      0.000000      0.010000     71.000000
75%         0.240000      0.110000      0.040000      0.030000     79.000000
max        41.360000     28.960000     10.220000     10.570000     98.000000

       User_Score Rating
count       10014   9949
unique         96      8
top           tbd      E
freq         2424   3990
mean          NaN    NaN
std           NaN    NaN
min           NaN    NaN
25%           NaN    NaN
50%           NaN    NaN
75%           NaN    NaN
max           NaN    NaN

se hace exploracion con metodo info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

se hace una observacion con el metodo Head:
                       Name Platform  Year_of_Release         Genre  NA_sales  \
0                Wii Sports      Wii           2006.0        Sports     41.36
1         Super Mario Bros.      NES           1985.0      Platform     29.08
2            Mario Kart Wii      Wii           2008.0        Racing     15.68
3         Wii Sports Resort      Wii           2009.0        Sports     15.61
4  Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing     11.27

   EU_sales  JP_sales  Other_sales  Critic_Score User_Score Rating
0     28.96      3.77         8.45          76.0          8      E
1      3.58      6.81         0.77           NaN        NaN    NaN
2     12.76      3.79         3.29          82.0        8.3      E
3     10.93      3.28         2.95          80.0          8      E
4      8.89     10.22         1.00           NaN        NaN    NaN

hay NA?:
Name                  2
Platform              0
Year_of_Release     269
Genre                 2
NA_sales              0
EU_sales              0
JP_sales              0
Other_sales           0
Critic_Score       8578
User_Score         6701
Rating             6766
dtype: int64

Duplicados:
0

Encontramos que hay NA en 
2 en nombre (no hay ninguna info de ello, se decide eliminar)
369 en a√±o de lanzamiento 
2 en genero
8578 en critica score
6701 en user score
6766 en rating

In [19]:
games[games["Year_of_Release"].isna()]

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
183,Madden NFL 2004,PS2,NaN,Sports,4.26,0.26,0.01,0.71,94.0,8.5,E
377,FIFA Soccer 2004,PS2,NaN,Sports,0.59,2.36,0.04,0.51,84.0,6.4,E
456,LEGO Batman: The Videogame,Wii,NaN,Action,1.80,0.97,0.00,0.29,74.0,7.9,E10+
475,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,1.57,1.02,0.00,0.41,NaN,NaN,NaN
609,Space Invaders,2600,NaN,Shooter,2.36,0.14,0.00,0.03,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16373,PDC World Championship Darts 2008,PSP,NaN,Sports,0.01,0.00,0.00,0.00,43.0,tbd,E10+
16405,Freaky Flyers,GC,NaN,Racing,0.01,0.00,0.00,0.00,69.0,6.5,T
16448,Inversion,PC,NaN,Shooter,0.01,0.00,0.00,0.00,59.0,6.7,M
16458,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16522,Virtua Quest,GC,NaN,Role-Playing,0.01,0.00,0.00,0.00,55.0,5.5,T