In [8]:
import pandas as pd
import plotly.express as px


def looks(datos):
    """Genera un analisis de todo el set de datos de manera gloabal"""
    print("Se ejecuta la descripcion de los datos:")
    print(datos.describe(include="all"))
    print()
    print("se hace exploracion con metodo info:")
    print(datos.info())
    print()
    print("se hace una observacion con el metodo Sample:")
    print(datos.sample(10))
    print()
    print("hay NA?:")
    print(datos.isna().sum())
    print()
    print("Duplicados:")
    print(datos.duplicated().sum())

In [6]:
com_tri = pd.read_csv("datasets/moved_project_sql_result_01.csv")
trips = pd.read_csv("datasets/moved_project_sql_result_04.csv")

- importar los archivos
- estudiar los datos que contienen
- asegurarte de que los tipos de datos sean correctos
- identificar los 10 principales barrios en términos de finalización del recorrido
- hacer gráficos: empresas de taxis y número de viajes, los 10 barrios principales por número de finalizaciones
- sacar conclusiones basadas en cada gráfico y explicar los resultados

In [9]:
looks(com_tri)

Se ejecuta la descripcion de los datos:
       company_name  trips_amount
count            64     64.000000
unique           64           NaN
top       Flash Cab           NaN
freq              1           NaN
mean            NaN   2145.484375
std             NaN   3812.310186
min             NaN      2.000000
25%             NaN     20.750000
50%             NaN    178.500000
75%             NaN   2106.500000
max             NaN  19558.000000

se hace exploracion con metodo info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_name  64 non-null     object
 1   trips_amount  64 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB
None

se hace una observacion con el metodo Sample:
                     company_name  trips_amount
38        6743 - 78771 Luhak Corp            33
29                       303 Taxi           250
47  4615 - 83503 Tyrone Henderson            21
39    0118 - 42111 Godfrey S.Awir            33
54      2192 - 73487 Zeymane Corp            14
2                Medallion Leasin         10367
19  Chicago Medallion Leasing INC          1607
55      6057 - 24657 Richard Addo            13
37         1469 - 64126 Omar Jada            36
20                   Checker Taxi          1486

hay NA?:
company_name    0
trips_amount    0
dtype: int64

Duplicados:
0

In [ ]:
looks(trips)

In [ ]:
to_airpod = pd.read_csv("datasets/moved_project_sql_result_07.csv")